@media screen and (max-width: 900px) {
    #header { top: 60px; position: absolute;}
    #title {margin-bottom: 10px;}
    #navigation {text-align: center !important; }
    #navigation {}
    #navigation .menu-item {float: none !important; width: 100% !important;}
    .column { width: 42%; margin-left: 4%; margin-right: 4%; }
    .work-title {margin-top: 15px; margin-bottom: 30px; }
    .excerpt {display: none;}
    .class {color: black; }
    .image img {width: 100%; height: auto;}
    .thin-column { width: 92%; margin-left: 4%; margin-right: 4%; float: none;}
    .work-title { margin-top:0px; }
    #instafeed h3 {display: none;};
}

@media screen and (max-width: 400px) {
    #news, #about { width: 100% !important; clear: left; }
    #modern-browsers .column { width: 90%; float: none;	margin-left: 5%; margin-right: 5%; }
}
